In [16]:
import pandas as pd

In [7]:
# Read the deaths_state file
df = pd.read_csv(r'C:\Users\con823.TMLPC18109\Documents\GitHub\Covid19-Public\epidemic\deaths_state.csv')

# Convert the date column to datetime format and extract year
df['year'] = pd.to_datetime(df['date']).dt.year

# Separate out 2021 and 2022 data into two separate DataFrames
df_2021 = df[df['year'] == 2021]
df_2022 = df[df['year'] == 2022]

# Sum up the deaths_new_dod column by state for 2021
df_by_state_2021 = df_2021.groupby('state')['deaths_new_dod'].sum().reset_index()

# Sum up the deaths_new_dod column by state for 2022
df_by_state_2022 = df_2022.groupby('state')['deaths_new_dod'].sum().reset_index()

In [14]:
df_by_state_2021

                state  deaths_new_dod
0               Johor            3830
1               Kedah            2138
2            Kelantan            1241
3              Melaka             951
4     Negeri Sembilan            1308
5              Pahang             767
6               Perak            1384
7              Perlis             135
8        Pulau Pinang            1750
9               Sabah            2514
10            Sarawak            1596
11           Selangor            9915
12         Terengganu             716
13  W.P. Kuala Lumpur            2655
14        W.P. Labuan             143
15     W.P. Putrajaya              21

In [15]:
df_by_state_2022

                state  deaths_new_dod
0               Johor             831
1               Kedah             583
2            Kelantan             174
3              Melaka             241
4     Negeri Sembilan             211
5              Pahang             256
6               Perak             718
7              Perlis              60
8        Pulau Pinang             302
9               Sabah             412
10            Sarawak             167
11           Selangor             982
12         Terengganu             181
13  W.P. Kuala Lumpur             180
14        W.P. Labuan               6
15     W.P. Putrajaya               7