# 3 Death Breakthrough

In [1]:
import pandas as pd
from datetime import date, timedelta

In [2]:
url_line_list = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_deaths.csv'
df = pd.read_csv(url_line_list, dtype=str)
df.head(10)

,date,date_announced,date_positive,date_dose1,date_dose2,date_dose3,brand1,brand2,brand3,state,age,male,bid,malaysian,comorb
0,2020-03-17,2020-03-17,2020-03-12,NaN,NaN,NaN,NaN,NaN,NaN,Johor,34,1,0,1,1
1,2020-03-17,2020-03-17,2020-03-15,NaN,NaN,NaN,NaN,NaN,NaN,Sarawak,60,1,0,1,1
2,2020-03-20,2020-03-20,2020-03-11,NaN,NaN,NaN,NaN,NaN,NaN,Sabah,58,1,0,1,1
3,2020-03-21,2020-03-21,2020-03-13,NaN,NaN,NaN,NaN,NaN,NaN,Melaka,50,1,0,1,1
4,2020-03-22,2020-03-22,2020-03-20,NaN,NaN,NaN,NaN,NaN,NaN,Sarawak,80,0,1,1,1
5,2020-03-21,2020-03-21,2020-03-20,NaN,NaN,NaN,NaN,NaN,NaN,Sarawak,39,0,0,1,1
6,2020-03-21,2020-03-21,2020-03-14,NaN,NaN,NaN,NaN,NaN,NaN,W.P. Kuala Lumpur,57,1,0,1,1
7,2020-03-21,2020-03-21,2020-03-17,NaN,NaN,NaN,NaN,NaN,NaN,Kelantan,69,1,0,1,1
8,2020-03-22,2020-03-22,2020-03-18,NaN,NaN,NaN,NaN,NaN,NaN,Perlis,48,1,0,1,1
9,2020-03-22,2020-03-22,2020-03-14,NaN,NaN,NaN,NaN,NaN,NaN,Pulau Pinang,73,1,0,1,1

In [3]:
# Wrangle relevant date columns
# Convert date column to datetime format and extract date only
df.date = pd.to_datetime(df.date, errors='coerce').dt.date
# Convert date_positive column to datetime format and extract date only
df.date_positive = pd.to_datetime(df.date_positive, errors='coerce').dt.date
# Check if there are any missing dates in both columns, and raise an error if so
assert len(df[df.date.isnull()]) == len(df[df.date_positive.isnull()]) == 0
# Convert `date_dose2` column to datetime format and extract date only
df.date_dose2 = pd.to_datetime(df.date_dose2, errors='coerce').dt.date

# Fill blank dates in date_dose2 column with tomorrow's date for computation of full vax
# (i.e., assume that they will be fully vaccinated by then)
df.date_dose2 = df.date_dose2.fillna(date.today()+timedelta(1))
df.head(10)

,date,date_announced,date_positive,date_dose1,date_dose2,date_dose3,brand1,brand2,brand3,state,age,male,bid,malaysian,comorb
0,2020-03-17,2020-03-17,2020-03-12,NaN,2023-04-14,NaN,NaN,NaN,NaN,Johor,34,1,0,1,1
1,2020-03-17,2020-03-17,2020-03-15,NaN,2023-04-14,NaN,NaN,NaN,NaN,Sarawak,60,1,0,1,1
2,2020-03-20,2020-03-20,2020-03-11,NaN,2023-04-14,NaN,NaN,NaN,NaN,Sabah,58,1,0,1,1
3,2020-03-21,2020-03-21,2020-03-13,NaN,2023-04-14,NaN,NaN,NaN,NaN,Melaka,50,1,0,1,1
4,2020-03-22,2020-03-22,2020-03-20,NaN,2023-04-14,NaN,NaN,NaN,NaN,Sarawak,80,0,1,1,1
5,2020-03-21,2020-03-21,2020-03-20,NaN,2023-04-14,NaN,NaN,NaN,NaN,Sarawak,39,0,0,1,1
6,2020-03-21,2020-03-21,2020-03-14,NaN,2023-04-14,NaN,NaN,NaN,NaN,W.P. Kuala Lumpur,57,1,0,1,1
7,2020-03-21,2020-03-21,2020-03-17,NaN,2023-04-14,NaN,NaN,NaN,NaN,Kelantan,69,1,0,1,1
8,2020-03-22,2020-03-22,2020-03-18,NaN,2023-04-14,NaN,NaN,NaN,NaN,Perlis,48,1,0,1,1
9,2020-03-22,2020-03-22,2020-03-14,NaN,2023-04-14,NaN,NaN,NaN,NaN,Pulau Pinang,73,1,0,1,1

In [5]:
# Convert the columns to datetime format
df['date_positive'] = pd.to_datetime(df['date_positive'])
df['date_dose2'] = pd.to_datetime(df['date_dose2'])

# Keep only those who were infected at least 14 days after dose 2
full_vax = df[(df['date_positive'] - df['date_dose2']).dt.days > 13].copy()
full_vax = full_vax[full_vax['date'] == date(2021,9,17)]
full_vax.head(10)

,date,date_announced,date_positive,date_dose1,date_dose2,date_dose3,brand1,brand2,brand3,state,age,male,bid,malaysian,comorb
22521,2021-09-17,2021-09-17,2021-09-01,2021-06-15,2021-07-06,NaN,Pfizer,Pfizer,NaN,Johor,68,1,0,1,1
22535,2021-09-17,2021-09-17,2021-09-05,2021-06-16,2021-07-07,NaN,Pfizer,Pfizer,NaN,Johor,67,1,0,1,1
22565,2021-09-17,2021-09-17,2021-09-10,2021-06-20,2021-07-11,NaN,Sinovac,Sinovac,NaN,Terengganu,77,0,0,1,1
22577,2021-09-17,2021-09-17,2021-09-12,2021-06-03,2021-06-24,NaN,Sinovac,Sinovac,NaN,Terengganu,47,0,0,1,1
22843,2021-09-17,2021-09-18,2021-08-29,2021-05-24,2021-06-14,NaN,Pfizer,Pfizer,NaN,Johor,72,1,0,1,0
22899,2021-09-17,2021-09-18,2021-09-05,2021-06-12,2021-07-03,NaN,Sinovac,Sinovac,NaN,Pulau Pinang,62,1,0,1,1
22908,2021-09-17,2021-09-18,2021-09-07,2021-07-21,2021-08-11,NaN,Sinovac,Sinovac,NaN,Selangor,55,1,0,1,1
22909,2021-09-17,2021-09-18,2021-09-10,2021-06-21,2021-07-12,NaN,Sinovac,Sinovac,NaN,W.P. Kuala Lumpur,83,0,0,1,1
22980,2021-09-17,2021-09-18,2021-09-15,2021-07-15,2021-08-05,NaN,Sinovac,Sinovac,NaN,Kelantan,56,0,0,1,1
22986,2021-09-17,2021-09-18,2021-09-14,2021-06-02,2021-06-23,NaN,Pfizer,Pfizer,NaN,Selangor,70,0,0,1,1